{
  "semi": true,
  "singleQuote": true,
  "htmlWhitespaceSensitivity": "css",
  "plugins": [
    "prettier-plugin-organize-imports",
    "prettier-plugin-tailwindcss"
  ],
  "tailwindFunctions": ["clsx", "cn"],
  "tabWidth": 2
}
